.SketchesHome {
  h1 {
    color: salmon;
  }

  &__sketches {
    width: 100%;
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
  }
}

.Sketch {
  height: 100px;
  width: 100%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;

  &__link {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &__placeholder {
    height: 100%;
    width: 100%;
    background: slategrey;
    color: lightgrey;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: white;
      cursor: pointer;
    }
  }
}