// Color Palette:
// https://lospec.com/palette-list/akc12
$purple-1: #201127;
$purple-2: #201433;
$purple-3: #1b1e34;
$green-1: #355d68;
$green-2: #6aaf9d;
$green-3: #94c5ac;
$orange-1: #ec9a6d;
$orange-2: #ffc27a;
$orange-3: #ffeb99;
$pink-1: #a73169;
$pink-2: #c24b6e;
$pink-3: #d9626b;

$white: #ffffff;
$black: #000000;
